---
import InfoPage from "../components/InfoPage.astro";
---

<InfoPage
  title="Impressum"
  intro="Diese Website (boldnessandburdens.com) wird von GeTu Prospects e.V. betrieben."
  hideBack={true}
>
  <h2>Angaben gemäß § 5 DDG</h2>
  <p>
    GeTu Prospects e.V.<br />
    Lange Enden 29<br />
    13437 Berlin
  </p>

  <h2>Vertreten durch</h2>
  <p>
    Paul Adenmosun<br />
    Grace Adenmosun
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: +49 172 4328326<br />
    E-Mail: <a href="mailto:info@getu-prospects.de">info@getu-prospects.de</a>
  </p>

  <h2>Registereintrag</h2>
  <p>
    Eintragung im Vereinsregister.<br />
    Registergericht: Amtsgericht Berlin-Charlottenburg<br />
    Registernummer: VR 37009 B
  </p>
</InfoPage>
